# logical interface and connection names
# nmcli device
INTERFACE=<DEVICE>
CONNECTION=<CONNECTION> 

CF_ZONE=example.ru
CF_ZONE_ID=0123456789abcdef0123456789abcdef
CF_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

POLL_INTERVAL=5

RETRY_COUNT=5
RETRY_DELAY=5

COOLDOWN=900
RESYNC_INTERVAL=900

# Не используется, пока firewall обновлять не требуется.
# FIREWALL_HOOK=/usr/local/sbin/ipv6-prefix-ddns-firewall
FIREWALL_HOOK=

# RECORD=<domain-within-zone>,<hex IPv6 suffix>,<proxied>

RECORD=app,10,false
RECORD=ssh,20,false

# Примеры:
# RECORD=api,30,true
# RECORD=@,40,false